DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here
SITE_BASE_URL=http://127.0.0.1:8000
SMTP_URL=console://user:password@localhost?_default_from_email=root@localhost
TOKEN_SALT=your-random-token-salt-key
TOKEN_EXPIRATION_HOURS=48
DJANGO_ALLOWED_HOSTS=127.0.0.1,
LOG_DIR=logs
