# AWS Configuration
aws_region = "ap-south-1"

# Project Configuration
project_name = "mero-coffee"
environment  = "prod"

# Network Configuration
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["ap-south-1a", "ap-south-1b"]

# Database Configuration
db_instance_class     = "db.t3.micro"
db_allocated_storage  = 20

# ECS Configuration
ecs_task_cpu    = "2048"
ecs_task_memory = "4096"
app_image       = "ghcr.io/publishername/merocoffee:develop"

# Logging Configuration
log_retention_days = 7

# Domain and SSL Configuration
domain_name = "coffee.subashghimire.info.np"
